@import "tailwindcss";

@theme {  
  --color-background_1: #0A2342; 
  --background-image-banner: linear-gradient(to bottom, #1E3A8A 0%, #0D47A1 100%);
  --color-background_button: #F59E0B;
  --color-text_button: #1E293B;
}