@import "tailwindcss";

@theme {  
  --color-background-1: #0A2342; 
  --background-image-banner: linear-gradient(to bottom, #1E3A8A 0%, #0D47A1 100%);
  --color-background-button: #F59E0B;
  --color-text-button: #1E293B;
  --color-text-1: #F8FAFC;
  --font-family: 'Inter', sans-serif;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  main {
    margin: 0;
    padding: 0;
  }
}

/* esconde a barra de rolagem, mas mantém a funcionalidade */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}